/* impostazioni generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* macro */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    margin: 10% 10%;
    padding: 20px;
    background-color: black;
}


.item {
    float: right;
    position: relative;
    width: 77%;
    display: none;
}

/* contenuti */
.item > img {
    width: 100%;
}

.text {
    position: absolute;
    right: 10px;
    bottom: 20px;
    font-size: 13px;
    text-align: right;
    color: white;
}

.thumbs {
    float: right;
    width: 15%;
    margin-bottom: 0;
}

/* contenuti */
.thumb > img {
    width: 100%;
}

/* attivazione immagini */
.item.active {
    display: block;
}

.thumb.active {
    border: 2px solid white;
}